@import "reset";

/*---------------- Colors ----------------*/
$main-color: #fff;
$calculator-display-bg: #222222;

$keys-bg: #999;
$button-bg: rgba(0, 0, 0, 0.5);
$button-border: 1px solid #111;
$button-hover: #e06139;
$button-active: #c3350a;
$button-equal: #ff7033;
$button-equal-active: #d03f01;

/*---------------- Media ----------------*/

$break-mobile: 400px;
$break-small: 680px;


body {
  box-sizing: border-box;
  background: url("https://i.pinimg.com/originals/b3/54/c7/b354c78a38bd30380d4f3882103b140f.jpg") no-repeat fixed;
  background-size: cover;

  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.title {
  display: flex;
  justify-content: center;
  padding: 3rem;

  font-size: 3em;
  color: bisque;
}

.calculator {
  max-width: 30vw;
  margin: 0 auto;
  .calculator__bg {
    background-color: $calculator-display-bg;
    color: $main-color;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    border-radius: 0.3em 0.3em 0 0;
  }
  .calculator__display {
    font-size: 1.714285714em;
    text-align: right;
    border-radius: 0.3em 0.3em 0 0;
    overflow: hidden;
    height: 1em;
  }
  .calculator__keys {
    background-color: $keys-bg;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.1em;
    @media screen and (max-width: $break-small){

    }
    .calculator__buttons {
      background: $button-bg;
      border: $button-border;
      padding: 0.7em;
      color: $main-color;
      border-radius: 5px;
      font-size: 22px;
      cursor: pointer;
      outline: none;
      transition: 0.1s ease-in-out;
      &:hover {
        background-color: $button-hover;
      }
      &:active {
        background-color: $button-active;
      }
    }
    .key--equal {
      background: $button-equal;
      grid-column: -2;
      grid-row: 2 / span 4;
      transition: all 0.2s ease-in-out;
      &:active {
        background: $button-equal-active;
      }
    }
  }
}

